src/*.exe
src/levelcoin
src/levelcoind
src/test_levelcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.levelcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
levelcoin-qt
Levelcoin-Qt.app

# Unit-tests
Makefile.test
levelcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
